extends layout 

block content 
  h1= title 

  ul
    each author in author_list  
      li(class="py-3 h6 border-bottom") 
        a(href=author.url class="text-primary") #{author.name}
        |  (#{author.lifespan_formatted})
    
    else 
      li There are no authors.