extends layout 

block content 
  h1= title 

  ul 
    each genre in genre_list 
      li(class="py-3 h6 border-bottom") 
        a(href=genre.url class="text-primary") #{genre.name}

    else 
      li There are no genres.  